body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(6, 6, 167);
}

.stats {
    background-color: aliceblue;
    padding: 16px; /* Combines space for both stats */
    border: 4px dotted black; /* Single border around both paragraphs */
    width: 500px; /* Adjust width to your liking */
 }
  
.stats p {
    margin: 0; /* Removes space between paragraphs */
 }